/node_modules
/bower_components
/platforms
.DS_Store
*.log
.sass-cache/
plugins
www/bundle.js
www/Material-Design-Icons.eot
www/Material-Design-Icons.svg
www/Material-Design-Icons.ttf
www/Material-Design-Icons.woff
www/Material-Design-Icons.woff2
www/MaterialIcons-Regular.eot
www/MaterialIcons-Regular.ttf
www/MaterialIcons-Regular.woff
www/MaterialIcons-Regular.woff2
www/Roboto-Bold.ttf
www/Roboto-Bold.woff
www/Roboto-Bold.woff2
www/Roboto-Light.ttf
www/Roboto-Light.woff
www/Roboto-Light.woff2
www/Roboto-Medium.ttf
www/Roboto-Medium.woff
www/Roboto-Medium.woff2
www/Roboto-Regular.ttf
www/Roboto-Regular.woff
www/Roboto-Regular.woff2
www/Roboto-Thin.ttf
www/Roboto-Thin.woff
www/Roboto-Thin.woff2
